{% extends "base.html" %}
{% load static %}

{% block title %}Home | VF Labs{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row align-items-center">
            <div class="col-md-4">
                <img src="{% static 'images/vflabs.jpg' %}" class="img-thumbnail" alt="VF Labs Logo">
            </div>
            <div class="col-md-8">
                <div class="jumbotron p-4">
                    <h1 class="display-4">Welcome to VF Labs</h1>
                    <p class="lead">VF Labs is a dynamic innovation hub dedicated to fostering the creation and development of cutting-edge technologies across multiple industries.
                    The projects on this page are yet to be prototyped. You're welcome to invest in the projects that are either upcoming or currently on the market.</p>
                </div>
            </div>
        </div>
    </div>

    <h2>Featured Projects</h2>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card border-warning mb-4">
                <img src="{% static 'images/nimix.png' %}" class="card-img-top" alt="Nimix">
                <div class="card-body">
                    <h5 class="card-title">Nimix</h5>
                    <p class="card-text">Nimix is your versatile scientific calculator app designed for exams and beyond. Featuring advanced functionalities and a secure mode to prevent unauthorized exits during exams, Nimix ensures reliability and integrity when you need it most. Empowering students with precision and ease of use, Nimix is your go-to tool for academic success.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card border-warning mb-4">
                <img src="{% static 'images/slidespeak.jpg' %}" class="card-img-top" alt="SlideSpeak">
                <div class="card-body">
                    <h5 class="card-title">SlideSpeak</h5>
                    <p class="card-text">SlideSpeak revolutionizes presentations with effortless slide control through speech. Seamlessly navigate slideshows using intuitive voice commands, ensuring a smooth and engaging presentation experience. Ideal for professionals and educators, SlideSpeak enhances efficiency and interactivity, making every presentation impactful and memorable.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card border-warning mb-4">
                <img src="{% static 'images/nsfp.jpg' %}" class="card-img-top" alt="NSFP">
                <div class="card-body">
                    <h5 class="card-title">NSFP</h5>
                    <p class="card-text">NSFP (National Soccer Facilities Project), is an online platform empowering indie soccer teams with sponsorship opportunities in monetary support, facilities, and gear. Designed to uplift underrepresented community teams, NSFP aims to elevate national soccer performance by fostering fair competition at every level.</p>
                </div>
            </div>
        </div>
    </div>

    <h2>Our Services</h2>
    <div class="row">
        {% for service in services %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="{% static 'images/service_icon.jpg' %}" class="card-img-top" alt="Service Icon">
                    <div class="card-body">
                        <h5 class="card-title">{{ service.name }}</h5>
                        <p class="card-text">{{ service.description }}</p>
                        {% if service.icon %}
                            <img src="{{ service.icon }}" class="card-img-top" alt="{{ service.name }} icon">
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <h2>Contact Us</h2>
    <p><strong>Email:</strong> {{ contact_details.email }}</p>
    <p><strong>Phone:</strong> {{ contact_details.phone }}</p>
{% endblock %}
